*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container{
    background-color: #fff;
    width: 100%;
    max-width: 700px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(red, green, blue, alpha);

}

h1{
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.form-group{
    margin-bottom: 25px;
}

label{
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #444;
}

input,
textarea,
select{
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}
